# Auto detect text files and perform LF normalization
*           text=auto

#
# The above will handle all files NOT found below
#

# Documents
*.md        text diff=markdown
*.mdx       text diff=markdown
LICENSE     text

# Scripts
*.bash      text eol=lf
*.sh        text eol=lf
*.zsh       text eol=lf

# These are explicitly windows scripts and should use crlf
*.bat       text eol=crlf
*.cmd       text eol=crlf
*.ps1       text eol=crlf

# Text files where line endings should be preserved
*.patch    -text
